---
layout: page
title: Agora
permalink: /agora/
---

{% assign now_posts = site.posts | where: "now", true | limit: 20 %}

{% for post in now_posts %}
  <article class="post {% if forloop.first %}_now{% endif %}">
    <div class="post-content">
      {{ post.content }}
    </div>
    
    <span class="post-footer post-meta">
      <a class="post-permalink" href="{{ post.url | absolute_url }}" rel="bookmark">
        <time datetime="{{ post.last_modified_at | date_to_xmlschema }}">
          {{ post.last_modified_at | date: "%d/%m/%Y às %H:%M" }}
        </time>
      </a>
    </span>
  </article>
  
  {% if forloop.first %}
    {% unless forloop.last %}
    
      <hr />
      <h2 class="section-title">Anteriormente…</h2>
    {% endunless %}
  {% endif %}
{% endfor %}
