---
layout: page
title: Blog
permalink: /blog/
---

{% assign years = site.posts | where_exp: "item", "item.now != true" | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in years %}
  <section class="page-section blog-section">
    <h2 class="section-title">
      {{ year.name }}
    </h2>
    
    {% for post in year.items %}
      {% include post.html %}
    {% endfor %}
  </section>
{% endfor %}

<hr />

<p><strong>Procurando por mais alguma coisa?</strong> Eu escrevi no <a href="https://arthrfrts.tumblr.com/" rel="me">Tumblr</a> entre 2020 e 2024, e no <a href="https://paomortadela.com.br/" rel="me">Pão com Mortadela</a> entre 2013 e 2023. Meus textos antigos provavelmente estão lá.</p>
