<footer class="site-footer">
  <p>Obrigado por vir até aqui! Não se esqueça de assinar o <a href="{% link visitas.html %}">livro de visitas</a>. Aproveite e <a href="#" target="_blank" class="tinylytics_webring">Visite um vizinho</a>.</p>
  <p>O conteúdo desse site está sob a licença <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC-BY-SA 4.0</a>. Você pode republicar e fazer alterações, mas seria bacana que você coloque um link para o conteúdo original.</p>
  <a class="humans-link" href="{% link humans.txt %}" rel="author"><code>humans.txt</code></a>
</footer>
