<article class="post _bit">
  <header class="post-header">
    {% if post.title and post.title != "" %}
      <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h3>
    {% endif %}
    
    <span class="post-meta">
      <a class="post-permalink" href="{{ post.url | absolute_url }}" rel="bookmark">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%d/%m/%Y" }}
        </time>
      </a>
      
      <a class="post-author a11y-helper" href="{{ post.author.url | default: site.author.url }}" rel="author">
        {{ post.author.name | default: site.author.name}}
      </a>
    </span>
  </header>
  
  <div class="post-content">
    {{ post.description  | default: post.excerpt | markdownify }}
  </div>
</article>
