:root {
  --dark: 28, 27, 25;
  --light: 255, 255, 255;
  --gray: 198, 198, 198;
  --green: 0, 208, 132;
  --purple: 155, 81, 224;
  --red: 207, 46, 46;
  --pink: 247, 141, 167;
  --orange: 255, 105, 0;
  --yellow: 252, 185, 0;
  --blue: 6, 147, 227;
  
  --base-font-family: ui-sans-serif, system-ui, sans-serif;
  --headings-font-family: var(--base-font-family);
  --code-font-family: ui-monospace, monospace;
  
  --base-font-size: 1rem;
  --base-line-height: 1.5;
  --spacing-unit: 1.5rem;
  
  --color-background: rgb(var(--light));
  --color-foreground: rgb(var(--dark));
  --color-border: rgba(var(--gray), 0.5);
  --color-link: rgb(var(--green));
  --color-active: rgb(var(--orange));
  --color-visited: rgb(var(--purple));
  
  --box-shadow: rgba(37, 38, 39, 0.04) 0 3px 5px -2px, rgba(37, 38, 39, 0.06) 0 7px 14px -5px;
  --border-radius: 0.625rem;
  --transition-duration: 0.15s;
  --outline: 0.5rem solid rgba(var(--green), 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(var(--dark));
    --color-foreground: rgb(var(--light));
  }
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--color-foreground);
  line-height: var(--base-line-height);
  background-color: var(--color-background);
}

p, blockquote, pre,
ul, ol, dl, figure,
video, audio, iframe,
table {
  margin-bottom: var(--spacing-unit);
}

/*
  Text Elements
*/

em, i { font-style: italic; }

strong, b { font-weight: 700; }

mark, ins {
  color: rgb(var(--dark));
  text-decoration: none;
  background-color: rgb(var(--yellow));
  border-radius: 0.25em;
  padding-inline: calc(var(--spacing-unit) / 4);
}

del, strike, s {
  text-decoration: line-through;
  text-decoration-style: double;
  text-decoration-color: rgb(var(--red));
}

abbr {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
}

sub, sup { font-size: 0.75em; }

sub { vertical-align: text-bottom; }

sup { vertical-align: text-top; }


/*
  Links
*/

a {
  color: currentcolor;
  text-decoration: underline;
  text-decoration-color: var(--color-link);
  transition: color var(--transition-duration);
}

a:hover,
a:focus {
  color: var(--color-link);
}

a:visited { text-decoration-color: var(--color-visited); }

a:visited:hover,
a:visited:focus {
  color: var(--color-visited);
}

a:active { color: var(--color-active); }

a[href*="http"]::after {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  background-color: rgb(var(--gray), 0.125);
  border-radius: 0.25em;
  content: "↗";
  vertical-align: text-top;
  margin-left: 0.5ch;
  padding-block: calc(var(--spacing-unit) / 6);
  padding-inline: calc(var(--spacing-unit) / 8);
}

a[href*="arthr.me"]::after,
a[href*="localhost"]::after {
  content: none;
}

/*
  Headings
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: var(--spacing-unit);
}

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

h4 { font-size: 1.25rem; }

h5 { font-size: 1rem; }

h6 { font-size: 0.75rem; }

/*
  Lists
*/

ul { list-style: square; }

ul ul { list-style: disc; }

ol { list-style: decimal; }

ol ol { list-style: lower-alpha; }


ul, ol { margin-left: var(--spacing-unit); }

li::marker { color: rgb(var(--red)); }

li  > :last-child { margin-bottom: 0; }

dl dt {
  font-weight: 700;
  color: rgb(var(--red));
}

dd + dt { margin-top: calc(var(--spacing-unit) / 2); }

/*
  Code and pre-formatted text
*/

code, pre {
  font-family: var(--code-font-family);
  background-color: rgba(var(--gray), 0.125);
  box-shadow: var(--box-shadow);
}

code {
  font-size: 90%;
  border-radius: 0.25em;
  padding-inline: calc(var(--spacing-unit) / 4);
}

pre {
  max-width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow-x: auto;
  padding-block: calc(var(--spacing-unit) / 4);
  padding-inline: calc(var(--spacing-unit) / 2);
}

pre code {
  background: none;
  box-shadow: none;
  padding: 0;
}

.highlight table {
  margin-bottom: 0;
}

.highlight pre pre,
.highlight tr:nth-child(odd) th,
.highlight tr:nth-child(odd) td {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.highlight tr:nth-child(odd) th,
.highlight tr:nth-child(odd) td {
  box-shadow: none;
  padding: 0;
}

.highlight pre.lineno {
  box-shadow: none;
  padding: 0;
}

/*
  Blockquotes
*/

blockquote {
  font-size: 0.875rem;
  background-color: rgba(var(--gray), 0.125);
  border-left: 2px solid rgb(var(--purple));
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: calc(var(--spacing-unit) / 2);
}

@media screen and (min-width: 600px) {
  blockquote {
    padding-block: calc(var(--spacing-unit) / 2);
    padding-inline: var(--spacing-unit);
  }
}

blockquote > :last-child { margin-bottom: 0; }

/*
  Tables
*/

table { box-shadow: var(--box-shadow); }

table th,
table td {
  text-align: left;
  border-bottom: 1px solid var(--color-border);
  padding: calc(var(--spacing-unit) / 4);
}

tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
  background-color: rgba(var(--blue), 0.125);
}

/*
  Horizontal rule
*/

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
  margin-block: var(--spacing-unit);
}

/*
  Media
*/

img, audio {
  max-width: 100%;
}

img + em {
  display: block;
  max-width: 250px;
  font-size: 0.75rem;
  text-align: right;
  border-top: 1px solid var(--color-border);
  margin-top: calc(var(--spacing-unit) / 2);
  margin-left: auto;
  padding-top: calc(var(--spacing-unit) / 2);
}

@media screen and (min-width: 1200px) {
  p:has(img) { position: relative; }
  
  img + em {
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    max-width: 150px;
    border: 0;
    border-right: 1px solid var(--color-border);
    margin: 0;
    margin-right: calc(var(--spacing-unit) / 2);
    padding: 0;
    padding-right: calc(var(--spacing-unit) / 2);
  }
}

iframe[src*="youtube"],
iframe[src*="vimeo"],
video {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
}

/*
  Footnotes
*/

sup .footnote::before { content: "["; }

sup .footnote::after { content: "]"; }

.footnotes {
  font-size: 0.875rem;
  border-top: 1px solid rgb(var(--gray));
  padding-top: calc(var(--spacing-unit) / 2);
}

/*
  Inputs, buttons and knobs
*/

.input-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) / 4);
  margin-bottom: var(--spacing-unit);
}

label { font-weight: 500; }

input,
button,
textarea,
.as-button {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  color: var(--color-foreground);
  line-height: var(--base-line-height);
  background-color: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding-block: calc(var(--spacing-unit) / 2);
  padding-inline: var(--spacing-unit);
  outline: 0 solid;
  transition: outline var(--transition-duration);
}

input:hover,
input:focus,
button:hover,
button:focus,
textarea:hover,
textarea:focus,
.as-button:hover,
.as-button:focus {
  outline: var(--outline);
}

input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  border: 1px solid var(--color-foreground);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.as-button {
  display: inline-block;
  color: rgb(var(--light));
  text-decoration: none;
  background-color: rgb(var(--green));
  border: none;
  cursor: pointer;
  transition: outline var(--transition-duration);
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
.as-button:hover,
.as-button:focus {
  color: rgb(var(--light));
  outline: var(--outline);
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.as-button:active {
  color: rgb(var(--light));
  background-color: rgb(var(--purple));
  outline: 0 solid transparent;
}
