/*
  Structure
*/

.site {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
    "content menu"
    "content footer";
  gap: var(--spacing-unit);
  max-width: 1100px;
  margin: 5vh auto;
  min-height: 100vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media screen and (max-width: 600px) {
  .site {
    display: flex;
    flex-flow: column nowrap;
  }
}

.site-header {
  grid-area: menu;
  align-items: flex-start;
}

.site-content {
  grid-area: content;
  align-self: stretch;
}

.site-footer {
  grid-area: footer;
  align-items: flex-start;
}

/*
  Site Header
*/

.site-header {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-unit);
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .site-header {
    align-items: center;
  }
}

.site-header .site-title {
  margin-bottom: 0;
}

.site-header .site-title a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: 0 solid transparent;
  transition: outline var(--transition-duration);
  overflow: hidden;
}

.site-header .site-title a:hover,
.site-header .site-title a:focus {
  outline: var(--outline);
}

.site-header .main-menu {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) / 2);
  align-items: flex-end;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .site-header .main-menu {
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100vw;
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .main-menu a {
    flex: 0 0 auto;
  }
  
  .main-menu::before,
  .main-menu::after {
    content: " ";
    display: block;
    padding: 1vw;
  }
  
  .main-menu::before {
    margin-left: auto;
  }
  
  .main-menu::after {
    margin-right: auto;
  }
}

/*
  Site footer
*/

.site-footer {
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .site-footer {
    text-align: right;
    align-self: flex-end;
  }
}
