/*
  Structure
*/

.site {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
    "content content menu"
    "content content footer";
  gap: var(--spacing-unit);
  max-width: 960px;
  min-height: 100vh;
  margin-block: 5vh;
  margin-inline: auto;
  padding-inline: 2vw;
}

@media screen and (max-width: 600px) {
  .site {
    display: flex;
    flex-flow: column nowrap;
  }
}

.site-header {
  grid-area: menu;
  align-items: flex-start;
}

.site-content { grid-area: content; }

.site-footer {
  grid-area: footer;
  align-items: flex-start;
}

/*
  Site Header
*/

.site-header {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-unit);
  align-items: flex-end;
}

@media screen and (max-width: 600px) {
  .site-header { align-items: center; }
}

.site-header .site-title { margin-bottom: 0; }

.site-header .site-title a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: 0 solid transparent;
  overflow: hidden;
  transition: outline var(--transition-duration);
}

.site-header .site-title a:hover,
.site-header .site-title a:focus {
  outline: var(--outline);
}

.site-header .main-menu {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) / 2);
  align-items: flex-end;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .site-header .main-menu {
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100vw;
    overflow-x: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .main-menu a { flex: 0 0 auto; }
  
  .main-menu::before,
  .main-menu::after {
    display: block;
    content: " ";
    padding: 1vw;
  }
  
  .main-menu::before { margin-left: auto; }
  
  .main-menu::after { margin-right: auto; }
}

/*
  Site footer
*/

.site-footer {
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .site-footer {
    text-align: right;
    align-self: flex-end;
  }
}

/*
  Home
*/

.home-page {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) * 2);
}

.section-title {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: var(--spacing-unit);
}

.home-section a { text-decoration-color: var(--color-theme); }

.home-section a:hover,
.home-section a:focus { color: var(--color-theme); }

.home-section > :last-child { margin-bottom: 0; }

._now {
  --color-theme: rgb(var(--blue));
  background-color: rgba(var(--gray), 0.125);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: calc(var(--spacing-unit) / 2);
  transition-property: background-color, border-color, transform;
  transition-duration: var(--transition-duration);
  transform-origin: center;
}

._now:hover { transform: scale(1.025) rotate(-2deg); }

._blog { --color-theme: rgb(var(--orange)); }

.home-section._content {
  --color-theme: rgb(var(--yellow));
  font-size: 125%;
}

.home-section._content h1 { margin-bottom: var(--spacing-unit); }

/*
  The blog
*/
.blog-section {
  border-top: 1px solid var(--color-theme);
  margin-bottom: calc(var(--spacing-unit) * 2);
  padding-top: calc(var(--spacing-unit) / 2);
}

.blog-section .section-title {
  color: var(--color-theme);
  margin-bottom: var(--spacing-unit);
}

.blog-section:nth-of-type(1n) { --color-theme: rgb(var(--blue)); }

.blog-section:nth-of-type(2n) { --color-theme: rgb(var(--yellow)); }

.blog-section:nth-of-type(3n) { --color-theme: rgb(var(--green)); }

.blog-section:nth-of-type(4n) { --color-theme: rgb(var(--pink)); }

.blog-section:nth-of-type(5n) { --color-theme: rgb(var(--orange)); }

.blog-section:nth-of-type(6n) { --color-theme: rgb(var(--purple)); }

.blog-section:nth-of-type(7n) { --color-theme: rgb(var(--red)); }

/*
  The posts
*/

.post + .post { margin-top: calc(var(--spacing-unit) * 1.5); }

.post-header { margin-bottom: calc(var(--spacing-unit) / 2); }

.post-title { margin-bottom: 0; }

.post-meta { font-size: 0.75rem; }

.post-content > :last-child { margin-bottom: 0; }

.post-footer {
  display: block;
  max-width: max-content;
  border-top: 1px solid rgb(var(--gray));
  margin-top: var(--spacing-unit);
  padding-top: calc(var(--spacing-unit) / 2);
}

.post-footer .post-meta {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-unit) / 2);
  list-style: none;
  margin-left: 0;
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-unit);
  justify-content: center;
}

.pagination a {
  flex: 0 0 auto;
}
