html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body { -webkit-font-smoothing: antialiased; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure,
table, audio, video, iframe {
  border: none;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input, button { font: inherit; }

.a11y-helper {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
