<!doctype html>
<html lang="{{- page.lang | default: site.lang -}}">
  <head>
    <meta charset="{{- site.encoding | default: 'utf-8' -}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {%- capture title -%}
      {% case page.type %}
        {% when "tag" %}
          Posts sobre {{ page.title }} —
        {% when "year" %}
          Posts de {{ page.date | date: "%Y" }} —
        {% when "month" %}
          Posts de {{ page.date | date: "%m/%Y" }} —
        {% else %}
          {% if page.title and page.title != "" %}
            {{ page.title }} —
          {% endif %}
      {% endcase %}
      
      {{ site.title }}
    {%- endcapture -%}
    
    <title>{{- title | strip_newlines | normalize_whitespace -}}</title>
    {% seo title=false %}
    {% feed_meta %}
    {% json_feed_meta %}
    <link rel="icon" type="image/png" href="{%- link assets/img/favicon.png -%}" />
    <link rel="stylesheet" href="{%- link assets/css/reset.css -%}" />
    <link rel="stylesheet" href="{%- link assets/css/base.css -%}" />
    <link rel="stylesheet" href="{%- link assets/css/layout.css -%}" />
    <link rel="stylesheet" href="{%- link assets/css/syntax.css -%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  </head>
  <body class="site">
    {% include header.html %}
    
    <main id="content" class="site-content">
      {{ content }}
    </main>
    
    {% include footer.html %}
  </body>
</html>
