---
layout: default
---

<div class="home-page">
  <section class="home-section _content">
    {{ content }}
  </section>
  
  {% assign now = site.posts | where: "now", true | first %}
  
  {% if now %}
    <section class="home-section _now">
      <h2 class="section-title">
        👨‍💻
        <a href="{% link agora.html %}">Agora</a>
      </h2>
      
      <div class="post-content">
        {{ now.content }}
      </div>
      
      <footer class="post-footer">
        <a class="post-meta post-permalink" href="{{ now.url | relative_url }}" rel="bookmark">
          <time datetime="{{ now.last_modified_at | date_to_xmlschema }}">{{- now.last_modified_at | date: "%d/%m/%Y às %H:%M" -}}</time>
        </a>
      </footer>
    </section>
  {% endif %}
  
  <section class="home-section blog-section _blog">
    <h2 class="section-title">
      📝
      <a href="{% link blog.html %}">
        Blog
      </a>
    </h2>
    
    {% assign blog_posts = site.posts | where_exp: "item", "item.now != true" %}
  
    {% for post in blog_posts limit: 5 %}    
      {% include post.html %}
    {% endfor %}
  </section>
</div>
